<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<title>Personal Recommendation</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class="container mt-5">
    <h1>Personal House Recommendation Assistant</h1>
    <form id="personal_recommendation" method="post">
		<!--Personalized user input !!-->
        <div class="form-group">
            <label for="employment">Employment Status:</label>
            <select class="form-control" id="employment" name="employment">
                <option value="Employed">Employed</option>
                <option value="Unemployed">Unemployed</option>
                <option value="Student">Student</option>
                <option value="Retired">Retired</option>
            </select>
        </div>
        <div class="form-group">
            <label for="marital_status">Marital Status:</label>
            <select class="form-control" id="marital_status" name="marital_status">
                <option value="Single">Single</option>
                <option value="Married">Married</option>
            </select>
        </div>
        <div class="form-group">
            <label for="children">Kids (Yes/No):</label>
            <select class="form-control" id="children" name="children">
                <option value="Has Kids">Yes</option>
                <option value="No Kids">No</option>
            </select>
        </div>
		<div class="form-group">
            <label for="bedrooms">Bedrooms:</label>
            <input type="number" class="form-control" id="bedrooms" name="bedrooms" required min="1">
        </div>
        <!-- Bathroom input -->
        <div class="form-group">
            <label for="bathrooms">Bathrooms:</label>
            <input type="number" class="form-control" id="bathrooms" name="bathrooms" required min="1">
        </div>

        <!-- City input -->
         <div class="form-group">
            <label for="city">City:</label>
            <input type="text" list="citylist" id="city" name="city" class="form-control" required>
            <datalist id="citylist">
                {% for city in cities %}
                <option value="{{ city }}">
                {% endfor %}
            </datalist>
        </div>
        <!-- House Type dropdown -->
        <div class="form-group">
            <label for="house_type">House Type:</label>
            <select id="house_type" name="house_type" class="form-control">
                <option value="Terraced">Terraced</option>
                <option value="Land">Land</option>
                <option value="Bungalow">Bungalow</option>
                <option value="Detached">Detached</option>
                <option value="Flat">Flat</option>
                <option value="Park Home">Park Home</option>
            </select>
        </div>
        <!-- House Condition dropdown -->
        <div class="form-group">
            <label for="house_condition">House Condition:</label>
            <select id="house_condition" name="house_condition" class="form-control">
                <option value="Outstanding">Outstanding</option>
                <option value="Pleasant">Pleasant</option>
                <option value="Alright">Alright</option>
                <option value="Abysmal">Abysmal</option>
                <option value="Rough">Rough</option>
            </select>
        </div>
        <!-- Neighborhood Quality dropdown -->
        <div class="form-group">
            <label for="neighborhood_quality">Neighborhood Quality:</label>
            <select id="neighborhood_quality" name="neighborhood_quality" class="form-control">
                <option value="Outstanding">Outstanding</option>
                <option value="Pleasant">Pleasant</option>
                <option value="Alright">Alright</option>
                <option value="Abysmal">Abysmal</option>
                <option value="Rough">Rough</option>
            </select>
        </div>
        <!-- Crime Rate dropdown -->
        <div class="form-group">
            <label for="crime_rate">Crime Rate:</label>
            <select id="crime_rate" name="crime_rate" class="form-control">
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
                <option value="Very Low">Very Low</option>
                <option value="Very High">Very High</option>
                <option value="Non Existent">Non Existent</option>
                <option value="Extreme">Extreme</option>
            </select>
        </div>
        <!-- Garden Size input -->
        <div class="form-group">
            <label for="garden_size">Garden Size (sqm):</label>
            <input type="number" id="garden_size" name="garden_size" class="form-control" min="0">
        </div>
        <!-- Budget -->
        <div class="form-group">
            <label for="min_price">Minimum Price ($):</label>
            <input type="number" class="form-control" id="min_price" name="min_price" required min="1">
        </div>
        <div class="form-group">
            <label for="max_price">Maximum Price ($):</label>
            <input type="number" class="form-control" id="max_price" name="max_price" required min="1">
        </div>
		<button type="submit" class="btn btn-primary">Get Recommendation</button>
    </form>
    <div id="results" class="mt-4"></div>
</div>
</body>
<script>
    $(document).ready(function() {
        $('#personal_recommendation').submit(function(event) {
            event.preventDefault(); // Stop the form from causing a page reload.
            $.ajax({
                url: '/manual_recommend',  // Ensure this matches your Flask route
                type: 'POST',
                data: $(this).serialize(), // Serialize the form data.
                dataType: 'json', // Expect JSON response from server
                success: function(response) {
                    if (response.error) {
                        $('#results').html('<p class="text-danger">' + response.error + '</p>');
                    } else {
                        var resultsHtml = '<div class="list-group">';
                        response.result.forEach(function(house) {
                            resultsHtml += '<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">';
                            resultsHtml += '<div class="d-flex w-100 justify-content-between">';
                            resultsHtml += '<h5 class="mb-1">$' + house.price.toFixed(2) + ' - ' + house.bedrooms + ' BD | ' + house.bathrooms + ' BA</h5>';
                            resultsHtml += '<small>' + house.neighbourhood_quality + '</small>';
                            resultsHtml += '</div>';
                            resultsHtml += '<p class="mb-1">' + house.explanation + '</p>';
                            resultsHtml += '</a>';
                        });
                        resultsHtml += '</div>';
                        $('#results').html(resultsHtml); // Update the results container
                    }
                },
                error: function() {
                    $('#results').html('<p class="text-danger">Failed to retrieve data. Please try again.</p>');
                }
            });
        });
    });
    </script>
    
</html>
